<div id="banner">
  <img src="images/people.png"  />
</div>

<section id="main">
  <h1>What is JustHappening?</h1>
  <p>
    For people that want to join the same interests, at the same place and the same moment who are tired of trying to organize events with one person effort. The JustHappening app is a both Web and Mobile based Application, that allows everyone to create and share their happenings and get other people nearby to join and participate on them. Furthermore, JustHappening allows to reuse someone else existing structure of tasks and inputs for a happening.​
  </p>
  <p>
    Unlike, Meetup and Facebook Events our project, allows not only to invite people to participate, it also encourages contribution as for JustHappening allows the organizer of an event to add the different inputs needed in a happening which later on will be automatically divided among the participants.
  </p>
</section>

<aside>
  <h1>How to use it?</h1>
  <div>REGISTER</div>
  <div>CREATE A HAPPENING</div>
  <div>WAIT FOR OTHERS TO JOIN IT</div>
  <div>ENJOY!</div>
</aside>