<div id="banner">
  <img src="images/contact-banner.jpg"  />
</div>

<section id="main">
  <h1>Contact Us</h1>
  <div id="form">
    <div id="contact-form">
      <form method="post" action="/clear">
        <div>
          <label for="name">
            <span class="required">Name: *</span>
            <input type="text" id="name" name="name" value="" placeholder="Your Name" required="required" tabindex="1" autofocus="autofocus" />
          </label>
        </div>
        <div>
          <label for="email">
            <span class="required">Email: *</span>
            <input type="email" id="email" name="email" value="" placeholder="Your Email" tabindex="2" required="required" />
          </label>
        </div>
        <div>
          <label for="message">
            <span class="required">Message: *</span>
            <textarea id="message" name="message" placeholder="Please write your message here." tabindex="5" required="required"></textarea>
          </label>
        </div>
        <div>
          <button name="submit" type="submit" id="submit" >SEND</button>
        </div>
      </form>

    </div>
  </div>
</section>

<aside>
  <div>
    <h1>Follow us!</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
</aside>

